@import "../../../variable";

.section_resume {
    &__title {
        h2 {
            text-align: center !important;
        }
    }
    h4 {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #FFF;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .year, a {
        color: $primary-color;
        margin-bottom: 10px;
        font-weight: 600;
    }
    &__education {
        padding-right: 35px;
        border-right: 1px solid #333;
        &__item {
            display: block;
            position: relative;
            margin-top: 30px;
            border-right: 2px solid $primary-color;
            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                background-color: $primary-color;
                border-radius: 10px;
                width: 12px;
                height: 12px;
                top: 50%;
                right: -43px;
                border: 2px solid $primary-color;
                z-index: 2;
                transform: translateY(-45%);
            }
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                background-color: $primary-color;
                border-radius: 10px;
                width: 36px;
                height: 2px;
                top: 50%;
                right: -37px;
                z-index: 1;
            }
        }
    }
    &__experience {
        margin-top: 30px;
        padding-left: 35px;
        border-left: 1px solid #333;
        &__item {
            margin-bottom: 30px;
            position: relative;
            display: block;
            border-left: 2px solid $primary-color;
            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                background-color: $primary-color;
                border-radius: 10px;
                width: 12px;
                height: 12px;
                top: 50%;
                left: -43px;
                border: 2px solid $primary-color;
                z-index: 2;
                transform: translateY(-45%);
            }
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                background-color: $primary-color;
                border-radius: 10px;
                width: 36px;
                height: 2px;
                top: 50%;
                left: -37px;
                z-index: 1;
            }
        }
    }
    .box {
        height: 114px;
        padding: 25px;
        background: #252A2E;
        box-shadow: 0px 18px 18px 0 rgb(0 0 0 / 20%);
    }
}