.skill {
    font-size: 52px;
}

.section_skill {
    background-color: #252a2e;
    padding-bottom: 80px;
}

.skill__details {
    margin-top: 20px;
    ul {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        transition: all 0.3s ease-in-out;
        li {
            display: inline-flex !important;
            justify-content: center;
            border: 1px solid #2e2a23;
            background: rgba($color: #403d36, $alpha: .8);
            border-radius: 10px;
            margin-right: 20px;
            min-width: 47px;
            margin-bottom: 15px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) inset;
            p {
                font-size:  14px;
                padding: 0px 10px;
                text-transform: capitalize;
            }
        }
    }
}